[submodule "UTester"]
	path = UTester
	url = https://github.com/Denellyne/UTester
[submodule "Function-Benchmarker"]
	path = Function-Benchmarker
	url = https://github.com/Denellyne/Function-Benchmarker
